@model IEnumerable<TbRoom>

<!-- Budget Rooms style-->
<div class="single-sidebar-widget-outer">
    <div class="sec-title">
        <h2>Budget Rooms</h2>
    </div>
    <div class="popular-post">
        <ul>
            @foreach (var item in Model)
            {
                <li class="img-cap-effect">
                    <div class="img-box"><a href="news-details.html"><img src="images\rooms\4.jpg" alt=""></a></div>
                    <div class="content">
                        <a href="#">
                            <h4>@item.Title</h4>
                        </a>
                        <h6>@item.Price <span>Per Night</span></h6>
                    </div>
                </li>
            }


        </ul>
    </div>
</div>
<!-- Budget Rooms style-->
